In [142]:
import re

In [143]:
s1 = "cem yılmaz is the best"

pattern = r"cem"

result = re.search(pattern, s1)
print(result)
if result: 
    print("match found!")
else:
    print("match not found")

<re.Match object; span=(0, 3), match='cem'>
match found!

In [144]:
pattern = r"\d\d\d\d\d\d\d\d\d\d" # Ardışık herhangi on rakamı eşleştir
text = "My Phone number is 1234567890"

match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No much")

Phone number found: 1234567890

In [145]:
pattern = r"\W" # Kelime olmayan herhangi bir karakterle eşleştir 

text = "Hello World!"
matches = re.findall(pattern, text)

print("Matches", matches)

Matches [' ', '!']

In [146]:
s2 = "cem yılmaz, stand-up gösterileri ve komedi filmlerindeki rolleriyle tanınan bir türk komedyen ve aktördür."

# Dizede "ko" sözcüğünün tüm geçtiği yerleri bulmak için findall() işlevini kullanın

result  = re.findall("up", s2)

# Eşleşen sözcüklerin listesini yazdır

print(result)

['up']

In [147]:
split_array = re.split("\s", s2)
# split_array, boşluk karakterleriyle bölünmüş tüm alt dizeleri içerir.
print(split_array)

['cem', 'yılmaz,', 'stand-up', 'gösterileri', 've', 'komedi', 'filmlerindeki', 'rolleriyle', 'tanınan', 'bir', 'türk', 'komedyen', 've', 'aktördür.']

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\omen-\AppData\Local\Temp\ipykernel_24012\2034545960.py:1: SyntaxWarning: invalid escape sequence '\s'
  split_array = re.split("\s", s2)

In [148]:
pattern = r"komedi" # aranacak ifade kalıbı

replacement = "comedy" # değiştirilecek dizi

new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE) # deseni değiştirme dizesiyle değiştirmek içlin alt işlevi kullanın 
print(new_string) # orjinal dizeyi içerir ve desen, değiştirme dizesi değiştirilir

cem yılmaz, stand-up gösterileri ve comedy filmlerindeki rolleriyle tanınan bir türk komedyen ve aktördür.

In [149]:
type([]) #list
type({}) #dict

dict

In [150]:
# Python Listeler

L = ["cem yılmaz", 10.1, 1982]
L

# Her dizindeki öğeleri yazdırır

print("Negatif ve pozitif indeksleme kıllanarak aynı öğe: \n Pozitif: ", L[0],
      "\n Negatif: ", L[-3])
print("Negatif ve pozitif indeksleme kıllanarak aynı öğe: \n Pozitif: ", L[1],
      "\n Negatif: ", L[-2])
print("Negatif ve pozitif indeksleme kıllanarak aynı öğe: \n Pozitif: ", L[2],
      "\n Negatif: ", L[-1])

Negatif ve pozitif indeksleme kıllanarak aynı öğe:
 Pozitif:  cem yılmaz
 Negatif:  cem yılmaz
Negatif ve pozitif indeksleme kıllanarak aynı öğe:
 Pozitif:  10.1
 Negatif:  10.1
Negatif ve pozitif indeksleme kıllanarak aynı öğe:
 Pozitif:  1982
 Negatif:  1982

In [151]:
# Örnek Liste

["Cem Yılmaz", 10.1, 1982, [1,2], ("A",1)] # type(()) -> Tuple
print()

In [152]:
# Örnek Liste
L = ["cem yılmaz", 10.1,1982,"CM",1]
L

['cem yılmaz', 10.1, 1982, 'CM', 1]

In [153]:
# Liste dilimleme
len(L)

5

In [154]:
L[3:5]

['CM', 1]

In [155]:
# Listeye öğe eklemek için extand kullanın

L = ["Cem Yılmaz", 10.2]
L.extend(['pop',10])
L

['Cem Yılmaz', 10.2, 'pop', 10]

In [156]:
# Listeye öğe eklemek için append kullanın (liste çerisinde liste)

L = ["Cem Yılmaz", 10.2]
L.append(["pop", 10])
L

['Cem Yılmaz', 10.2, ['pop', 10]]

In [157]:
L.append(['a', 'b'])
L

['Cem Yılmaz', 10.2, ['pop', 10], ['a', 'b']]

In [158]:
# Listeler değiştirilebilir olduğundan, onları değiştirebiliriz. Örneğin ilk elemanı aşağıdaki gibi değiştirebiliriz.

A = ["disco", 10, 1.2]
print("Before change:", A)

A[0] = 'hard rock'
print("After change:", A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [159]:
# Ayrıca del komutunu kullanarak bir listenin bir öğesini silebiliriz.
    # indeksi temel alarak öğeyi silme
print('Before Change', A)
del(A[0])
print('After change:', A)

Before Change ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [160]:
# Bir stringi split kullanaarak listeye dönüştürebiliriz.
    # String böl, varsayılan değer boşluktur.
a = 'hard rock'.split()
a

['hard', 'rock']

In [161]:
# Diziyi virgülle bölme
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [162]:
# Kopyalama Klonlama
     # A listesini referans olarak kopyalama
A = ['hard rock', 10,1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [163]:
# Kopyayı referans olarak inceleyin

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [164]:
A,B

(['banana', 10, 1.2], ['banana', 10, 1.2])

In [165]:
# A listesini klonlama (değere göre)

B = A[:]
B

['banana', 10, 1.2]

In [166]:
B

['banana', 10, 1.2]

In [167]:
A

['banana', 10, 1.2]

In [168]:
# Tuples
 #liste ile arasındaki fark: liste değiştirilir tupple değiştirilemez, tuples daha performanslı az bellek tutar. Kullanım alanları daha çok değiştirilmesi istenmeyen veriler.

tuple1 = ('disco', 10,1.2 )
tuple1

('disco', 10, 1.2)

In [169]:
type(tuple1)

tuple

In [170]:
# Indexing, listelerle aynıdır

print(tuple1[0])

disco

In [171]:
# her bir elemanına tipine erişebilir, listelerle aynıdır.

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [172]:
# Listeler gibi negatif indexleme kullanabiliriz.

tuple1[-1]

1.2

In [173]:
# Tuple + işareti ile birleştirilebilir veya bir araya getirilebilir.

tuple2 = tuple1 + ('hard rock', 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [174]:
# Slicing, listelerle aynı çalışır.
    # Dizin 0'dan dizin 2'ye kadar dilimleme
tuple2[0:3]

('disco', 10, 1.2)

In [175]:
 # Dizin 3'ten dizin 4'e kadar dilimleme
tuple2[3:5]

('hard rock', 10)

In [176]:
# Tuple uzunluğunu alma

len(tuple2)

5

In [177]:
# Sorting 
# örnek bir tuple
Ratings = (0,9,6,5,10,8,9,6,2)

In [178]:
# Tuple sırala
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [179]:
# Nested Tuple, tuple içlerisinde tuple

NestedT = (1,2, ('pop', 'rock'), (3,4), ('disco', (1,2)))
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [182]:
# her dizideki öğeleri yazdırma

print("Eleman 0 of Tuple", NestedT[0])
print("Eleman 1 of Tuple", NestedT[1])
print("Eleman 2 of Tuple", NestedT[2])
print("Eleman 3 of Tuple", NestedT[3])
print("Eleman 3 of Tuple", NestedT[4])

Eleman 0 of Tuple 1
Eleman 1 of Tuple 2
Eleman 2 of Tuple ('pop', 'rock')
Eleman 3 of Tuple (3, 4)
Eleman 3 of Tuple ('disco', (1, 2))

In [188]:
# Her bir indeksin elamanı, iç içe indeksler dahil olmak üzere yazdırma

print("Eleman 2 of Tuple: ", NestedT[2][0])
print("Eleman 2 of Tuple: ", NestedT[2][1])
print("Eleman 3 of Tuple: ", NestedT[3][0])
print("Eleman 3 of Tuple: ", NestedT[3][1])

Eleman 2 of Tuple:  pop
Eleman 2 of Tuple:  rock
Eleman 3 of Tuple:  3
Eleman 3 of Tuple:  4

In [1]:
# Dict

dict = {"key": 1, "key2":"2", "key3":[3,3,3], "key4":(4,4,4), ("key5"): 5, (0,1): 6}

In [6]:
dict[(0,1)]

6

In [9]:
relesa_year_dict = {"Thriller": "1982", "Test": 3}

In [8]:
relesa_year_dict

{'Thriller': '1982'}

In [11]:
relesa_year_dict.keys()

dict_keys(['Thriller', 'Test'])

In [13]:
relesa_year_dict.values()

dict_values(['1982', 3])

In [14]:
# Değeri anahtarla birlikte sözlüğe ekle
relesa_year_dict["Graduation"] = '2007'
relesa_year_dict

{'Thriller': '1982', 'Test': 3, 'Graduation': '2007'}

In [15]:
del(relesa_year_dict["Graduation"])

In [16]:
relesa_year_dict

{'Thriller': '1982', 'Test': 3}

In [18]:
if 'Test' in relesa_year_dict:
    print("The test is the dictionary")
else: 
    print("The bodyguard is not in the dictionary")

The test is the dictionary

In [20]:
# SETS
''' 
    küme, nesnelerin benzersiz bir koleksiyonudur.
    bir küme, süslü parantezlerin bir çifti{} ile belirtilebilir.
    python otomatik olarak yenilenen öğeleri kaldıracakltır. 
'''

set1 = {"pop", "rock", "soul", "hard rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [23]:
# aşağıdaki gibi bir listeden de bir set oluşturulabilir.

album_list = ["Micheal Jakson", "Thriller", 1982, "00:42:19", "POP, ROCK, R&B", 46.0,65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Micheal Jakson',
 None,
 'POP, ROCK, R&B',
 'Thriller'}

In [24]:
# Listeyi kümeye dönüştür

music_genres = set(["pop", "pop", "rock", "fold rock",
                    "hard rock", "soul", "progressive rock",
                    "soft rock", "R&B", "disco"
                     ])
music_genres

{'R&B',
 'disco',
 'fold rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [25]:
# Set Operations 
''' 
 küme işlemlerini gözden geçirelim, çünkü bunlar küme üzerinde değişiklik yapmak için kullanılaiblir. A kümesini düşünün:
'''

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [28]:
A.add("NSYNC")
A

# aynı ögeyi iki kez eklersek, bir kümede yineleme olamayacağı için hiçbir şey olmayacaktır.

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [29]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [30]:
# bir elemanın kümede olup olmadığını in komutu ile doğrulayabiliriz.

"AC/DC" in A

True

In [31]:
# Sets Logic Operations 
''' 
    Kümelerle, kümeler arasındaki farkın yanı sıra simetrik fark, kesişim ve birleşimi de kontrol edebiliriz.
'''

album_set1 = set(["Thriller", "AC/DC", "Back in Black"])
album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [32]:
# iki kümenin keşisimini & kullanarak aşağıdaki gibi bulabiliriz.

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [33]:
# album_set1 içinde yalnızca bulunan tüm elemanların difference metodu kullanarak bulunabilir
    # set1' deki farkı bulun ancak set2'deki farkı bulmayın
album_set1.difference(album_set2)

{'Thriller'}

In [34]:
#album_list1 ve album_list2'nin keşisimini bulmak için kesişim yöntemi
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [35]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [40]:
# bir kümenin başka bir kümenin üst kümesi veya alt kümesi olup olmadığını kontrol etme

# üst küme olup olmadığını kontrol
set(album_set1).issuperset(album_set2)

False

In [39]:
# alt küme olup olmadığını kontrol
set(album_set2).issubset(album_set1)

False

In [41]:
#örnek 
album_set1

{'AC/DC', 'Back in Black', 'Thriller'}

In [43]:
# alt küme olup olmadığını kontrol et
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [44]:
# üst küme olup olmadığını kontrol et
album_set1.issuperset({"Back in Black", "AC/DC"})

True